players/*
worlds/*
plugins/*
bin/*
timings/*
resource_packs/*
*.log
*.phar
*.json
server.properties
/pocketmine.yml
*.txt
tesseract.yml
crashdumps/*
.idea/*
nbproject/*
Thumbs.db
Desktop.ini
.DS_Store
/nbproject/private/
/docs/build/
!/docs/requirements.txt
.project
src/.idea/*

